<mat-spinner *ngIf="isLoading"></mat-spinner>
<mat-accordion multi="true" *ngIf="!isLoading && posts.length > 0">
  <!-- <mat-expansion-panel>
    <mat-expansion-panel-header>
      The expansion title!
    </mat-expansion-panel-header>
    <p>I am in an expansion panel</p>
  </mat-expansion-panel> -->
  <mat-expansion-panel *ngFor="let post of posts">
    <mat-expansion-panel-header>
      {{ post.title }}
    </mat-expansion-panel-header>
    <div class="post-image">
      <img [src]="post.imagePath" [alt]="post.title" />
    </div>
    <p>{{ post.content }}</p>
    <mat-action-row *ngIf="userAuthenticated && userId === post.creator">
      <a mat-button [routerLink]="['/edit', post.id]" color="primary">EDIT</a>
      <button mat-button color="warn" (click)="onDeletePost(post.id)">
        DELETE
      </button>
    </mat-action-row>
  </mat-expansion-panel>
</mat-accordion>
<mat-paginator
  [length]="totalPostCount"
  [pageSize]="postsPerPage"
  [pageSizeOptions]="pageSizeOption"
  (page)="onPaginatorChange($event)"
  *ngIf="posts.length > 0"
></mat-paginator>
<p
  class="info-text mat-body mat-body-1"
  *ngIf="!isLoading && posts.length <= 0"
>
  No posts added yet!
</p>
